* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1715a279 !important;
}

.navbar_header {
    width: 100%;
    height: 12vh;
    border: 1px solid rgba(177, 22, 22, 0.153);
    margin-bottom: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    background-color: #200e12;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10;
}

.list {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 5px 12px;
}

.list>a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s ease all;
}

.list>a:hover {
    color: #9b6660;
}

.logo {
    width: 60px;
    height: 80px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-dark {
    font-size: 40px;
    border-radius: 12px;
    transform: translateY(-50%);
    top: 50%;
    display: none!important;
    width: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    position: absolute;
    right: 20px;
    height: 50px;
}

.logo img {
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.navbar {
    height: 100vh;
    z-index: 20;
    position: fixed!important;
    background-color:#ab3d84;
    display: none!important;
    left: 0;
    top: 0;
    width: 100%;


}

.navbar>ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 20px;
    padding-top: 200px;
}
.navbar ul li>a {
    font-size: 30px;
    text-decoration: none;
    color: azure;
}

.btn-danger{
    position: absolute;
    right: 20px;
    top: 20px;
}

.about {
    height: auto;
    margin-top: 90px;
}

.about>p {
    letter-spacing: 2px;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.689);
    text-align: justify;
    padding: 0 30px;

}

.contact {
    background-color: blue;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;

}

.icons {
    display: flex;
    flex-direction: column;
}

.icones>p {
    font-size: 35px;
}

.icones p>a {
    color: rgb(0, 255, 174);
}

.sosial {
    font-size: 20px;
    color: wheat;
    font-family: sans-serif;
    font-style: italic;
}


@media only screen and (max-width:980px) {
    #btn_about {
        display: block !important;
    }

    .list>a {
        display: none;
    }

    .contact {
        flex-direction: column;
        height: auto;
    }

    .about {
        overflow: auto;
    }

}